# Build Products
*.class
*.jar
*.war
*.ear
*.deb
target/
dependency-reduced-pom.xml
dependencies.log

# Individual Developer Files
*.iml
.idea/
.vscode/
nbactions.xml

# Run Files
.vagrant/
hs_err_pid*
.DS_Store
appraisers.yaml
log/
cassandra/
